body, html {
    height: 100%;
    margin: 0;
}

p{
    margin: 14px 0px;
}

.logo-name{
    font-family: 'Montez', cursive;
    font-size: 3em;
    margin: 0px;
    color: #0d01ff;
}

.logo-caption{
    font-family: 'Ubuntu Mono', monospace;
    margin: 0px;
    color: #333333;
}

.logo{
    float: left;
    margin: 5px;
}

.logon button{
    float: right;
    margin: 1% 1% 1% 0%;
}

.clear{
    clear: both;
}

.btn-form-signin, .btn-form-signup{
    width: 100%;
}

.form-button{
    text-align: center;
}

.modal-signin, .modal-signup{
    width: 25% !important;
}