body{
    background-color: #ffeedd;
}

.clear{
    clear: both;
}

.page{
    background-color: #ffeedd;
}

.body{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 80%;
    margin: auto;
}

.post-card{
    width: 500px;
    display: flex;
    flex-direction: row;
    height: 140px;
    box-shadow: 2px 2px 8px #999;
    border-radius: 10px;
    margin: 20px;
    background-color: #FFF;
}

.post-card:hover{
    box-shadow: 3px 3px 10px #333;
}

.post-user{
    border: 1px solid #FFF;
    border-radius: 10px 0px 0px 10px;
    width: 60%;
    font-weight: bold;
    color: #7a7776;
    padding: 10px;
    text-align: center;
    margin: auto;
}

.post-detail{
    border: 1px solid #e8e8e8;
    border-radius: 0px 10px 10px 0px;
    border-left: 0;
    background-color: #e8e8e8;
    padding: 10px 20px;
    overflow: hidden;
}

.post-title{
    color: #9d9fa7;
}

.post-title p{
    float: left;
    margin: 0;
    width: 90%;
    line-height: 1.3em;
    height: 2.5em;
    overflow: hidden;
}

.post-title span{
    float: right;
    cursor: pointer;
}

.post-content p{
    line-height: 1.3em;
    height: 4em;
    overflow: hidden;
    margin: 10px 0px;
}

.post-content span{
    float: right;
    margin-top: -5px;
}

.btn-delete {
    width: 75px;
}

.modal-delete-post{
    width: 25% !important;
    margin: 10% auto;
}

.btn-delete-yes{
    float: left;
}

.btn-delete-no{
    float: right;
}

.modal-body{
    overflow: auto;
}

.post-content a{
    color: #333;
}

.fa-ellipsis-h{
    cursor: pointer;
}