.body{
    margin: 1% 5%;
}

.post-title{
    text-align: center;
}

.post-user{
    float: left;
    height: 50px;
    font-family: 'Courgette', cursive;
}

.post-edit, .post-save{
    float: right;
    height: 50px;
    margin-top: 10px;
}

.post-save{
    display: none;
}

.post-content{
    text-align: justify;
}

.comment-section{
    width: 50%;
}

.comment-list{
    border: 5px solid #DDD;
    margin: 0   ;
    border-top: none;
    padding: 4px 5px;
}

.comment-input{
    width: 100%;
}

.comment-btn, .edit-btn, .like-btn, .save-btn{
    background-color: #ed2553;
    color: #FFFFFF;
    min-width: 75px;
}

.comment-btn:hover, .edit-btn:hover, .like-btn:hover, .save-btn:hover{
    background-color: #d11742;
}

.like-section, .comment-display-section, .comment-input-section, .post-section{
    margin-bottom: 30px;
}

.editable{
    border : 1px solid pink;
}